# Banco
DB_CLIENT=sqlite

# Para usar MySQL
# DB_CLIENT=mysql
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=
# MYSQL_DATABASE=projeto_caio

# Para usar Supabase
# DB_CLIENT=supabase
# SUPABASE_URL=https://SEU-PROJETO.supabase.co
# SUPABASE_SERVICE_ROLE_KEY=SEU_SERVICE_ROLE_KEY
# SUPABASE_BUCKET=desenhos

# Upload
MAX_FILE_SIZE_BYTES=5242880